*{margin: 0;padding: 0;text-align: center;font-family: arial;}
body{background-color: rgb(231, 228, 228);}
header{
    background-color: rgb(231, 228, 228);
    padding: 5px;
}
.home{
    background-color: rgb(63, 63, 163);
    padding: 5px;
}
img{
    width: 30px;  
}
.texto{
    font-size: 2.5vh;
    border: 1px solid;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;

}
p{
    margin-left:  5vh;
    margin-right: 5vh;
}
input{
    
    margin-left: 5vh;
    margin-right: 5vh;
    width: 80%;
    padding: 5px;
    font-size: 20px;
    font-family: arial;
    border-radius: 7px;
    border: none;
    border: 1px solid;
    margin-top: 5vh;
    font-weight: bold;
}
